* {margin: 0; padding: 0;
  -webkit-box-sizing: Border-box!important;
  -moz-box-sizing: Border-box!important;
  box-sizing: Border-box!important;}

/*-------------Början på Menu-------------*/

.thenavdiv1{
  width: 250px;
  height: 50px;
  border: solid 3px red;
  position: relative;
  top: 20px;
  left: 250px;
  background-color: rgba(232, 235, 232, 1);
}

.thenavdiv2{
  width: 250px;
  height: 50px;
  border: solid 3px red;
  position: relative;
  top: -30px;
  left: 500px;
  background-color: rgba(232, 235, 232, 1);
}

.thenavdiv3{
  width: 250px;
  height: 50px;
  border: solid 3px red;
  position: relative;
  top: -80px;
  left: 750px;
  background-color: rgba(232, 235, 232, 1);
}

.datorer_och_mer{
  font-size: 32px;
  top: -75px;
  left: 17px;
  width: 250px;
}

.konsoltext{
  font-size: 32px;
  top: -25px;
  left: 50px;
  width: 250px;
}

.hemelektroniktext{
  font-size: 32px;
  top: 3px;
  left: 15px;
  width: 250px;
}

.datorer_och_mer:hover{
  color: rgba(107, 185, 240, 1);
  -o-transition: .3s;
  -ms-transition: .3s;
  -moz-transition: .3s;
  -webkit-transition: .3s;
  transition: .3s;
}

.konsoltext:hover{
  color: rgba(107, 185, 240, 1);
  -o-transition: .3s;
  -ms-transition: .3s;
  -moz-transition: .3s;
  -webkit-transition: .3s;
  transition: .3s;
}

.hemelektroniktext:hover{
  color: rgba(107, 185, 240, 1);
  -o-transition: .3s;
  -ms-transition: .3s;
  -moz-transition: .3s;
  -webkit-transition: .3s;
  transition: .3s;
}



.navtext{
  color: black;
  text-decoration: none;
  text-decoration-style: none;
}

/*--------------------------Slut menu--------------------------*/

iframe{
  width: 100%;
  height: 100%;
}

body{
  height: 1080px;
  background-color: #fff;
}


h1{
  text-decoration: none;
  color: #000;
  position:relative;
  left: 250px;
  top:75px;
  font-family: 'Roboto', sans-serif;
}

div#logo { /*Logo - Teknik stalker*/
  width: 200px;
  height: 100px;
  float:left;
}

img#teknikstalker { /*teknikstalker bilden*/
  position: relative;
  width: 200px;
  height: 100px;
  margin: 50px;
  bottom: 30px;
  right: 40px;
}

/*Motherboard*/

.motherboard{
  width: 300px;
  height: 300px;
  position: relative;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  left: 250px;
  background-color: rgba(0, 0, 0, 0.3);
}

.cpudiv{
  width: 300px;
  height: 300px;
  position: relative;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  left: 555px;
  bottom: 300px;
  background-color: rgba(0, 0, 0, 0.3);
}

.motherboardcaption{
    color: white;
    text-align: center;
    border: solid 0px;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size: 42px;
    -webkit-text-stroke: 1px black;
  }

  .moderkortbild{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    height: 300px;
  }

.cpubild{
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  height: 300px;
}

  .middle{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

.motherboard:hover .moderkortbild{
  opacity: 0.3;
}

.motherboard:hover .middle{
  opacity: 1;
}

.cpudiv:hover .cpubild{
  opacity: 0.3;
}

.cpudiv:hover .middle{
  opacity: 1;
}
