* {margin: 0; padding: 0;
  -webkit-box-sizing: Border-box!important;
  -moz-box-sizing: Border-box!important;
  box-sizing: Border-box!important;}

/*Början på Menu*/

  nav
  {
    width: 100%;
    height: 100px;
    float: right;
    border-bottom: 1px solid #fff;
    position: ;
  }

  ul
  {width: 100%;
    height: 60px;
    float: left;
    padding: 0px 20px;
  }

  ul>li
   {list-style-type: none;
     position: relative;
     float: left;
     height: 60px;
     line-height: 60px;}

  ul>li>a
  {float: right; font-size: 19px;
    width: 100%;
    height: 60px;
    line-height: 60px;
    padding: 0px 20px;
    text-decoration: none; color: #fff;
    -webkit-transitsion: all 0.4s;
  -moz-transitsion: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;}

  ul>li:hover>a,
  ul>li.active>a{
    background: #000;
    color: #fff;
  }
  ul>li>ul {
    position: absolute;
    top: 60px;
    left: 0px;
    width: 240px;
    height: auto;
    background: #00FF00;
    padding: 0px;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    -webkit-transitsion: all 0.6s;
   -moz-transitsion: all 0.6s;
   -o-transition: all 0.6s;
   transition: all 0.6s;
   }

   ul>li:hover>ul {
    visibility: visible;
    opacity: 1;
    pointer-events: initial;
   }

   ul>li>ul>li, ul>li>ul>li>a {
     width: 100%;
     float: left;
     -webkit-transitsion: all 0.4s;
   -moz-transitsion: all 0.4s;
   -o-transition: all 0.4s;
   transition: all 0.4s;
   }
ul>li>ul>li:hover, ul>li>ul>li>a:hover{
background: #000;
}

iframe{
  width: 100%;
  height: 100%;
}

body{
  height: 1080px;
  background-color: #000;
}

/*Slut menu*/



div#logo { /*Logo - Teknik stalker*/
  width: 200px;
  height: 100px;
  float:left;
}

div#Center { /*Position av alla varor*/
 padding-top: 370px;
}

img.jpeg { /*Bilder på varor*/
  width: 300px;
  height: 300px;
  margin: 50px;
}

img#teknikstalker { /*teknikstalker bilden*/
  position: relative;
  width: 200px;
  height: 100px;
  margin: 50px;
  bottom: 50px;
  right: 50px;
}

figure { /*Vara blocks*/
  float:left;
  display: block;
  position: relative;
  width: 402.5px;
  height: auto;
  border: solid 1px red;
  margin: 21px;
  margin-left: 33px;
}

figcaption { /*Namner på varor*/
  color: orange;
  text-align: center;
  border: solid 1px;
}
